.pricing-page {
    .tabs {
        .tab-content {
            display: none;
            float: right;
            width: 80%;
            @include phone-reset;
            @media only screen 
              and (min-device-width: 768px) 
              and (max-device-width: 1024px) 
              and (orientation: portrait) {
                  float: none;
                  width: auto;
            }             
            p {
                margin: 0;
            }
            img {
                border: none;
                margin: 0;
            }
            &.active {
                display: block;
            }
            .padder {
                padding: 0;
                .cards {
                    li {
                        .card-container {
                            border-radius: 0;
                            margin: 0;
                            border: none;
                            .card-header {
                                .padder {
                                    img {
                                    }
                                }
                                &:after {
                                }
                            }
                            .card-body {
                                .padder {
                                    border-right: solid 1px $light-grey;
                                    border-bottom: solid 1px $light-grey;
                                    .button {
                                    }
                                }
                            }
                        }
                        .card-highlight {
                        }
                        &:first-child {
                            .card-container {
                            }
                        }
                        &:last-child {
                            .card-container {
                            }
                        }
                    }
                }
                
            }
        }
        .tab-nav {
            float: left;
            width: 20%;
            @include phone-reset;
            @media only screen 
              and (min-device-width: 768px) 
              and (max-device-width: 1024px) 
              and (orientation: portrait) {
                  float: none;
                  width: auto;
            }            
            li {
                padding: 1em;
                a {
                    margin: 0;
                    display: block;
                    .lnr, img {
                        margin-right: 0.4em;
                        height: 18px;
                        position: relative;
                        top: 2px;
                    }
                }
                &.active {
                    background: $light-grey;
                }
            }
        }
    }    
}