.product-page {
    header {
        background: $light-grey;
        .padder {
            .banner-text {               
                .padder {
                    h1 {
                    }
                    .button {
                    }   
                    .button-light {                    
                    }
                }
            }     
            .banner-img {
                img {
                    border-radius: 8px;
                }                
            }
        }            
    }
    img {
        max-width: 100%;
    }
    .header-bar {
        background: darken($light-grey, 5%);        
        .padder {
            padding: 0.4em 0;
            @media only screen and (max-width : 1100px) {
                padding: 0.4em 1em;
            } 
            @media only screen 
            and (min-device-width : 320px) 
            and (max-device-width : 480px) {
                padding: 0.4em 1em;
            }
            .header-bar-nav {
                float: left;
                @include phone-reset;
                li {
                    float: left;
                    @include phone-reset;
                    a {
                        &:hover {
                            background: darken($light-grey, 10%);
                        }
                    }
                    .header-bar-item {
                        display: block;
                        text-align: center;
                        padding: 0.4em 1em;
                        border-radius: 24px;
                        margin-right: 0.4em;
                        position: relative;                        
                        @media only screen 
                        and (min-device-width : 320px) 
                        and (max-device-width : 480px) {
                            margin: 0 0 0.4em;
                        }                    
                    }
                }
                .header-title {
                    .header-bar-item {
                        background: $light-grey;
                    }
                    img {
                        width: 18px;
                        margin-right: 0.4em;
                        position: relative;
                        top: 2px;
                    }
                }
            }
            .header-button {
                float: right;
                text-align: center;                
                @include phone-reset;
                @media only screen 
                and (min-device-width : 320px) 
                and (max-device-width : 480px) {
                    display: block;
                }            
                .button-inner {
                    padding: 0.4em 1em;
                }
            }
        }    
    }
    .icon-values {
        li {
            float: left;
            text-align: center;
            @include phone-reset;
            .padder {
                padding: 1em 0;
                background: $light-grey;
                margin-right: 1em;
                margin-bottom: 1em;
                @include phone-margin;
                .lnr, i {
                    display: inline-block;
                    font-size: 32px;
                    margin-bottom: 6px;
                }
                h3 {
                    margin: 0;
                    font-size: 1em;
                }
            }
        }
        .icon-value-button {
            a {
                background: $main-color;
                display: block;
                padding: 1em 0;
                margin-right: 1em;
                .padder {
                    background: none;
                    margin: 0;
                    padding: 0;
                    i, h3 {
                        color: #fff;
                    }
                }
                &:hover {
                    background: lighten($main-color, 10%);   
                }
            }
        }
    }
    .value-text {
        float: right;
        width: 50%;
        @include phone-reset;
    }
    .value-img {
        float: left;
        width: 50%;
        @include phone-reset;
        .padder {
            padding: 0 2em 0 0;
            img {
                width: 100%; 
            }
        }
    } 
}