@mixin phone-reset {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        float: none;
        width: auto;
    }   
}

@mixin phone-center {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        text-align: center;
    }     
}

@mixin phone-padder {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        padding: 0;
    }      
}

@mixin phone-padder-add {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        padding: 1em;
    }      
}

@mixin phone-margin {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        margin: 0 0 1em 0;
    }     
}

@mixin phone-hide {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        display: none;
    }     
}

@mixin phone-table {
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        overflow-x: auto;
		display: block;  
    }     
}


$main-color: #548282;
$dark-color: #202030;
$spreadstudio-color: #8ec1a2;
$spreadjs-color: #d7bc77;
$spreadcom-color: #5e3a54;
$gc-color: #392a53;
$light-grey: #f1f1f1;
$medium-grey: #e0e0e0;


@import '_icons.scss';
@import '_unslider.scss';
@import '_menu.scss';
@import '_home.scss';
@import '_product.scss';
@import '_spreadstudio.scss';
@import '_spreadjs.scss';
@import '_spreadcom.scss';
@import '_page.scss';
@import '_pricing.scss';
@import '_footer.scss';  
@import '_vs.scss'; 

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
    line-height: 1.8em;
    margin-bottom: 1em;
    opacity: 0.9;
    max-width: 700px;
}

a,
a:link {
    color: $main-color;
    text-decoration: none;
    font-weight: 400;
    &:hover {
        color: darken($main-color, 10%);
    }
}

ul {
    list-style: none;
    margin: 0;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.hidden {
    display: none;
}

.button {
    display: inline-block;
    .button-inner {
        background: $main-color;
        transition: 0.222s;
        display: block;
        padding: 1em 2em;
        color: #fff;
        border-radius: 2px;
        .lnr {
            margin-right: 0.4em;
        }
    }
    &:hover {
        .button-inner {
            background: darken($main-color, 3%);
        }
    }
}

.button-light {
    display: inline-block;
    .button-inner {
        border: solid 1px $main-color;
        transition: 0.222s;
        display: block;
        padding: 1em 2em;
        color: $main-color;
        border-radius: 2px;
        .lnr {
            margin-right: 0.4em;
        }
    }
    &:hover {
        .button-inner {
            border-color: darken($main-color, 3%);
            color: darken($main-color, 3%);
        }
    }
}

.padder {
    padding: 2em 0;
    @media only screen and (max-width : 1100px) {
        padding: 2em 1em;
    }    
}


.center {
    text-align: center;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding-left: 264px;
    @media only screen and (max-width : 1100px) {
        width: auto;
        padding-left: 74px;
    } 
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
        padding-left: 67px;
    }    
}

input[type=search] {
    background: darken($light-grey, 3%);
    border: none;
    padding: 1em;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1em;
    tr {
        td {
            border-bottom: solid 1px $light-grey;
            padding: 0.4em 0;
        }
    }
}


header {
    background: $light-grey;
    position: relative;
    @include phone-center;
    .padder {    
        display: table;
        padding: 6em 0 4em;
        @media only screen and (max-width : 1100px) {
            padding: 6em 1em 4em;
        }    
        @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) {
            display: block;
            padding: 2em 1em;
        }         
        .banner-img {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            @media only screen 
              and (min-device-width: 768px) 
              and (max-device-width: 1024px) 
              and (orientation: portrait) {
                  display: block;
                  width: auto;
            }             
            @include phone-reset;  
            @media only screen 
            and (min-device-width : 320px) 
            and (max-device-width : 480px) {
                  display: block;
                  width: auto;
            }             
            img {
                width: 100%;
                margin-bottom: -5px;
            }
        }
        .banner-text {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            @media only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (orientation: portrait) {
                display: block;
                width: auto;
                margin-bottom: 2em;
            }  
            @include phone-reset;  
            @media only screen 
            and (min-device-width : 320px) 
            and (max-device-width : 480px) {
                display: block;
                width: auto;
                margin-bottom: 2em;
            }            
            .padder {
                padding: 0 2em 0 0;
                @include phone-padder;
                .button {
                    margin-right: 1em;
                }                               
                .button, .button-light {   
                    @media only screen and (max-width : 1100px) {
                        font-size: 0.8em;
                    }                        
                    @media only screen 
                    and (min-device-width : 320px) 
                    and (max-device-width : 480px) {
                        font-size: 1em;
                        margin: 0 0 1em;
                        float: none;
                        display: block;
                    }            
                } 
                .button-light {
                    @media only screen 
                    and (min-device-width : 320px) 
                    and (max-device-width : 480px) {
                        margin: 0;
                    }                     
                }                 
            }           
        }
    }    
    .unslider-nav ol {
        padding-left: 250px;   
        @media only screen and (max-width : 1100px) {
            width: auto;
            padding-left: 76px;
        }        
        @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) {
            padding-left: 67px;
        }               
    }    
}


.body-section {
    width: 100%;
    float: right;
    @media only screen and (max-width : 1100px) {
        width: 100%;
    }     
}


.three-column-icons {
    li {
        float: left;
        width: 33.333%;
        text-align: center;
        @include phone-reset;
        .padder {
            padding: 2em 0;
            @include phone-padder;
            @include phone-margin;
            h3 {
                margin: 0;
            }
            .lnr {
                display: inline-block;
                font-size: 48px;
                margin-bottom: 6px;
            }
        }
    }
}

.getstarted-section {
    background: $gc-color;
    text-align: center;
    h2 {
        color: #fff;
    }
    p {
        margin: 0 auto 1em;
        color: #fff;
    }
}

.simple-bullet {
    list-style: disc;
    margin: 0 0 0 1.4em;
}

.margin-bottom {
    margin-bottom: 2em;
}


.tabs {
    .tab-content {
        display: none;
        float: right;
        width: 70%;
        @include phone-reset;
        p {
            margin: 0;
        }
        img {
            border: solid 1px $medium-grey;
            margin-bottom: 0.4em;
            width: 100%;
        }
        &.active {
            display: block;
        }
    }
    .tab-nav {
        float: left;
        width: 30%;
        @include phone-reset;
        li {
            padding: 1em;
            a {
                margin: 0;
                display: block;
                .lnr {
                    margin-right: 0.4em;
                }
            }
            &.active {
                background: $light-grey;
            }
        }
    }
}


.product-features-list {
    .product-features-item {
        .product-feature-text {
            float: left;
            width: 50%;
        }
        .product-feature-img {
            float: right;
            width: 50%;
            .padder {
                padding-left: 2em;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.product-features-list {
    .product-features-item-alt {
        .product-feature-text {
            float: right;
            width: 50%;
        }
        .product-feature-img {
            float: left;
            width: 50%;
            .padder {
                padding-right: 2em;
                img {
                    width: 100%;
                }
            }
        }
    }
}



.cards {
    li {
        float: left;
        text-align: center;      
        @include phone-reset;
        .card-container {
            border: solid 1px $medium-grey;
            border-radius: 8px;
            overflow: hidden;
            margin: 0 0.5em;
            position: relative;
            @include phone-margin;
            .card-header {
                background-color: $light-grey;
                background-size: cover;
                position: relative;
                .padder {
                    padding: 2em 1em;
                    img {
                        height: 80px;
                        position: relative;
                        z-index: 2;
                    }
                }
                &:after {
                    position: absolute; 
                    left: 0;
                    top: 0;
                    content: ' ';
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                    z-index: 1;
                }
            }
            .spreadstudio {
                background-color: $spreadstudio-color;
                border-color: $spreadstudio-color;
                &:after {
                    background-color: $spreadstudio-color;   
                }
            }
            .js {
                background-color: $spreadjs-color;
                &:after {
                    background-color: $spreadjs-color;   
                }                
            }
            .com {
                background-color: $spreadcom-color; 
                &:after {
                    background-color: $spreadcom-color;   
                }                 
            }
            .card-body {
                .padder {
                    padding: 2em 1em 6em;
                    .button {
                        position: absolute;
                        bottom: 2em;
                        left: 50%;
                        width: 80%;
                        margin-left: -40%;
                        .button-inner {
                            padding: 1em;
                        }
                    }
                }
            }
        }
        .card-highlight {
            box-shadow: 0 0 30px rgba(0,0,0,0.20);
            border: none;
            position: relative;
            z-index: 2;
        }
        &:first-child {
            .card-container {
                margin-right: 1em;
                margin-left: 0;
                @media only screen 
                and (min-device-width : 320px) 
                and (max-device-width : 480px) {
                    margin-right: 0;
                }                 
            }
        }
        &:last-child {
            .card-container {
                margin-left: 1em;
                margin-right: 0;
                @media only screen 
                and (min-device-width : 320px) 
                and (max-device-width : 480px) {
                    margin-left: 0;
                }                 
            }
        }
    }
}

.items-3 {
    li {
        width: 33.33%;
        @include phone-reset;
    }       
}

.items-4 {
    li {
        width: 25%;
        @include phone-reset;
    }       
}


.expander {
    .expander-header {
        border: solid 1px $light-grey;
        display: block;
        padding: 1em 2em;
        margin-bottom: 1em;
        transition: 0.222s;
        h3 {
            margin: 0;
        }
        &:hover {
            background: $light-grey;
        }
        &.expander-active {
            background: $medium-grey;
            margin: 0;
        }
    }
    .expander-body {
        border: solid 1px $light-grey;
        border-top: none;
        padding: 2em;
        margin-bottom: 1em;
        p {
            &:last-child {
                margin: 0;
            }
        }
    }
}

.banner-rotator-item {
    float: left;
}